.footer-logo-container {
    margin-bottom: 1.5rem;
  }
  
  .footer-logo {
    height: 75px;
    width: auto;
    //filter: brightness(0) invert(1); /* Converts to white */
  }

  p {
    color: white;
  }