<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title>Offer Details</mat-card-title>
    </mat-card-header>
  
    <mat-card-content *ngIf="offer; else loadingTemplate">
      <div class="d-flex justify-content-between">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Name</mat-label>
          <input matInput [value]="offer?.name" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Discount</mat-label>
          <input matInput [value]="offer?.discount + '%'" readonly />
        </mat-form-field>
      </div>
  
      <div class="d-flex justify-content-between">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Description</mat-label>
          <textarea matInput [value]="offer?.description" readonly></textarea>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Offer Type</mat-label>
          <input matInput [value]="offer?.offer" readonly />
        </mat-form-field>
      </div>
  
      <div class="d-flex justify-content-between">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Start Date</mat-label>
          <input matInput [value]="offer?.startDate | date" readonly />
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>End Date</mat-label>
          <input matInput [value]="offer?.endDate | date" readonly />
        </mat-form-field>
      </div>
  
      <div class="d-flex justify-content-end">
        <button mat-button color="primary" [routerLink]="['/offers']">Back to Offers</button>
      </div>
    </mat-card-content>
  
    <ng-template #loadingTemplate>
      <p>Loading offer details...</p>
    </ng-template>
  </mat-card>
  