<mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="d-flex">
        <div class="m-r-auto">
          <mat-card-title>Top Users</mat-card-title>
          <mat-card-subtitle>Users with the most points</mat-card-subtitle>
        </div>
      </div>
  
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="w-100">
  
        <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">#</th>
            <td mat-cell *matCellDef="let element; let i = index">
            @if (i === 0) {
                🥇
            }
            @else if (i === 1) {
                🥈
            }
            @else if (i === 2) {
                🥉
            }
            @else {
                {{ i + 1 }}
            }
            </td>
        </ng-container>
  
  
          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">User</th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                <img [src]="getUserImage(element)" alt="user" width="48" class="rounded" />
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">{{ element.firstname }} {{ element.lastname }}</h6>
                  <span class="f-s-12">{{ element.email }}</span>
                </div>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Points</th>
            <td mat-cell *matCellDef="let element">
              {{ element.points }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Status</th>
            <td mat-cell *matCellDef="let element">
              @if (element.points <= 20) {
                <span class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">
                  Low
                </span>
              }
              @else if (element.points <= 50) {
                <span class="bg-light-warning text-warning rounded f-w-600 p-6 p-y-4 f-s-12">
                  Medium
                </span>
              }
              @else if (element.points <= 100) {
                <span class="bg-light-primary text-primary rounded f-w-600 p-6 p-y-4 f-s-12">
                  High
                </span>
              }
              @else {
                <span class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12">
                  Critical
                </span>
              }
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
  