<mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="d-flex justify-content-between align-items-center m-b-16">
        <div class="d-flex align-items-center">
          <button mat-icon-button color="primary" [routerLink]="['../']">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <mat-card-title>Create Blog Post</mat-card-title>
        </div>
      </div>
  
      <form [formGroup]="blogPostForm" (ngSubmit)="onSubmit()" class="m-t-16">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Content</mat-label>
          <textarea matInput formControlName="content" rows="5" required></textarea>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Image URL</mat-label>
          <input matInput formControlName="image">
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Tag</mat-label>
          <input matInput formControlName="tag">
        </mat-form-field>
  
        <div class="d-flex justify-content-end gap-2 m-t-16">
          <button mat-button type="button" (click)="resetForm()" [disabled]="isSubmitting">
            Cancel
          </button>
          <button mat-raised-button color="primary" type="submit" [disabled]="blogPostForm.invalid || isSubmitting">
            <ng-container *ngIf="isSubmitting; else createLabel">
              <mat-spinner diameter="20"></mat-spinner>
            </ng-container>
            <ng-template #createLabel>Create Blog Post</ng-template>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  