.m-t-16 {
  margin-top: 16px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.w-100 {
  width: 100%;
}

.gap-2 {
  gap: 0.5rem;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

mat-form-field {
  margin-bottom: 16px;
}
