<mat-card class="cardWithShadow theme-card card">
  <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#04e4003a" fill-opacity="1"
      d="M0,64L40,96C80,128,160,192,240,218.7C320,245,400,235,480,197.3C560,160,640,96,720,85.3C800,75,880,117,960,154.7C1040,192,1120,224,1200,229.3C1280,235,1360,213,1400,202.7L1440,192L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
    </path>
  </svg>
  <mat-card-header>
    <mat-card-title class="message-text">Create Custom Order</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form (ngSubmit)="createOrder()">
      <div class="row">
        <!-- Quantity and Price -->
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Total Quantity</mat-label>
            <input matInput type="number" [(ngModel)]="order.quantity" name="quantity" placeholder="Quantity" required min="1" />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Total Price (USD)</mat-label>
            <input matInput type="number" [(ngModel)]="order.price" name="price" placeholder="Price" required min="0" step="0.01" />
          </mat-form-field>
        </div>

        <!-- Order Date and Status -->
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Order Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="order.orderDate" name="orderDate" required />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="order.status" name="status" required>
              <mat-option *ngFor="let status of statusOptions" [value]="status.value">
                {{status.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Customer Information -->
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Customer Name or ID</mat-label>
            <input matInput [(ngModel)]="order.user.id" name="userNameOrId" placeholder="Customer Name or ID" required />
          </mat-form-field>
        </div>
      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" type="submit">Create Order</button>
        <button mat-stroked-button color="warn" type="button" routerLink="/orders">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
