<front-header></front-header>

<!-- <front-topstrip></front-topstrip> -->

<mat-sidenav-container class="mainWrapper blue_theme light-theme" autosize autoFocus dir="ltr">
  <!-- ============================================================== -->
  <!-- Main Content -->
  <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Header -->
    <!-- ============================================================== -->

    <main class="pageWrapper maxWidth">
      <!-- ============================================================== -->
      <!-- Outlet -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>
    </main>
   
</mat-sidenav-container>

<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2025 Copyright:
      <a class="text-body" href="https://el-vitrina.com/">El-Vitrina.com</a>
    </div>
    <!-- Copyright -->
  </footer>