<mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="d-flex w-100">
        <mat-card-title>Products Overview</mat-card-title>
        <div class="m-l-auto">
            <mat-form-field class="theme-select" appearance="outline">
                <mat-select [(value)]="selectedMonth">
                  @for(month of months; track month.viewValue) {
                    <mat-option [value]="month.value">
                      {{ month.viewValue }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
        </div>
      </div>
  
      <apx-chart
        *ngIf="productOverviewChart"
        [series]="productOverviewChart.series"
        [dataLabels]="productOverviewChart.dataLabels"
        [chart]="productOverviewChart.chart"
        [legend]="productOverviewChart.legend"
        [xaxis]="productOverviewChart.xaxis"
        [yaxis]="productOverviewChart.yaxis"
        [grid]="productOverviewChart.grid"
        [stroke]="productOverviewChart.stroke"
        [tooltip]="productOverviewChart.tooltip"
        [plotOptions]="productOverviewChart.plotOptions">
      </apx-chart>
    </mat-card-content>
  </mat-card>
  