.table-container {
    padding: 20px;
  }
  
  mat-header-cell, mat-cell {
    padding: 8px 12px;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  