<div class="scene-wrapper" #sceneContainer>
  <!-- Three.js canvas will be inserted here -->
</div>

<div class="overlay">
  <div class="lottie-container">
    <ng-lottie 
      [options]="animationOptions[animationState]" 
      (animationCreated)="animationCreated($event)">
    </ng-lottie>
  </div>
  
  <div class="status-message">
    {{ getStatusMessage() }}
  </div>
  
  <div class="input-group">
    <input 
      [(ngModel)]="description" 
      placeholder="Describe your 3D model..."
      (keyup.enter)="generateModel()"
    />
    <button 
      (click)="generateModel()" 
      [disabled]="isLoading"
    >
      {{ isLoading ? 'Generating...' : 'Generate' }}
    </button>
    <button 
*ngIf="showDownloadButton"
(click)="downloadModelJson()"
class="download-button">
Download Model (.json)
</button>
  </div>
  
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <!-- Add this near your other buttons in the template -->

</div>