.product-card {
  display: flex;
  padding: 16px;
  .product-details {
    display: flex;
    align-items: center;
    gap: 16px;
    img {
      width: 120px;
      height: auto;
      border-radius: 8px;
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
}
